.circleContainer {
  height: 25vh;
  width: 25vh;
  display: flex;
  align-items: center;
  /* background-color: red; */
  z-index: 10;
}

.inactive {
  background-color: white;
  border: 1vh solid #09695d;
  color: black;
}

.active {
  background-color: #09695d;
  border: 1vh solid #09695d;
  color: white;
  transition: all 0.1s linear;
  transform: scale(1.1);
}

.circle {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  font-size: 3vh;
  cursor: pointer;
  transition: all 0.1s linear;
}
.circle:hover {
  background-color: #09695d;
  color: white;
}
