.container {
  height: 15vh;
  display: flex;
  overflow: hidden;
}
.iconContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  margin-left: 55vw;
  color: black;
}

.link,
.link:hover {
  height: 100%;
  width: 30%;
  display: flex;
  color: #878787;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 3vh;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
}
