.Content {
    background-color: aqua;
    height: 100vh;
    display: flex;
    /* flex-flow: column; */
}

.EditArea {
    background-color: greenyellow;
    /* background-color: #fafafa; */
    height: 100%;
    flex: 1 1 auto;
    display: flex;
}

.StepList {
    /* float: right; */
    background-color: greenyellow;
    width: 600px;
    height: 100%;
}