.profileMain {
    margin: 3vh 10% 0 10%;
    min-height: 97vh;
}

.profileMain .tabContainer {
    display: flex;
    border-bottom: 2px solid #E2E4E8;
    padding-left: 20px;
}

.profileMain .tab {
    color: #1A4058;
    font-weight: bold;
    margin-right: 60px;
    padding-bottom: 15px;
}

.profileMain .tab {
    cursor: pointer;
}

.profileMain .tabActive {
    border-bottom: 5px solid #9B5DE5;
}

.profileMainContent hr {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #e2e4e8;
}
