.ControlsArea {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 100%;
    /* transform: translateX(50px) */
    /* background-color: aqua; */
}

.StepListArea {
    height: 100%;
    /* background-color: green; */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.MoreControls {
    /* background-color: yellow; */
    background-color: white;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MoreControlsIcon {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s;
    /* background-color: red; */
}

.MoreControlsIcon:hover {
    background-color: #ccc;
    cursor: pointer;
}

.StepListTitle {
    display: flex;
    background-color: #fafafa;
    /* background-color: red; */
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 35px;
    justify-content: space-between;
    color: #777;
    font-weight: 700;
}

.AddBtn {
    background-color: #eee;
    border-radius: 5px;
    font-size: 30px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AddBtn:hover {
    background-color: #ccc;
}

.pathwayStep {
    background-color: rgb(46, 196, 182);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    font-weight: 800;
    border-radius: 4px;
}

.contentStep {
    background-color: rgb(0, 119, 182);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    font-weight: 800;
    border-radius: 4px;
}

.sharedStep {
    background-color: rgb(155, 93, 229);
    height: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: white;
    font-weight: 800;
    border-radius: 4px;
    padding: 0 10px;
}
