.profileStats {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.profileStats div span {
    /* height: 20px; */
    margin: 8px;
    width: 40px;
    text-align: center;
    display: inline-block;
    padding: 2px;
    border-radius: 20px;
    font-size: 14px;
}