.progressPie {
    margin-right: 5px;
    padding: 0 5px;
}

.progressPie {
    display: flex;
    flex-direction: row;
}

.progressPie .pieWrapper, svg, circle {
    max-width: 40px;
    max-height: 40px;
}

.progressPie circle {
    position: absolute;
    fill: none;
    stroke-width: 4;
    /* stroke-dasharray: 440; */
    stroke-linecap: round;
}

.progressPie circle:nth-child(1) {
    transform: translate(10px, 10px);
    stroke-dashoffset: 0;
    stroke: #EFEFEF;
}

.progressPie .pieWrapper circle:nth-child(2) {
    /* transform: translate(10px, 38px) rotate(270deg); */
    /* stroke-dashoffset: calc(440 - (440 * 33) / 100); */
    /* stroke-dashoffset: 180; */
    stroke: #9B5DE5;
}
