.outerContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: hidden; */
}

.pathwayHeading {
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 4vh;
  margin-bottom: 5vh;
}

.pathwayContainer{
  display: flex;
  width: 100vw;
  flex-direction: row;
  /* border: 1px solid black; */
  /* justify-content: center; */
  /* background-color: red; */
}
.pathwayInnerContainer{
  /* background-color: red; */
  width: 50%;
  display: flex;
  justify-content: center;
}

.pathway {
  /* position: absolute; */
  /* border: 1px solid black; */
  width: 25vw;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pathway::-webkit-scrollbar {
  width: 0 !important;
}
/*
.move {
  transform: translateX(-100%);
  transition: all 0.7s cubic-bezier(0.5, 0.47, 0.46, 0.89);
} */

.svgContainer {
  /* background-color: green; */
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.nodeContainerLeft {
  width: 100%;
  display: flex;
}

.nodeContainerRight {
  /* background-color: red; */
  /* transform: scale(1.1); */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rightContainer{
  /* position: absolute; */
  position: fixed;
  right: 8vw;
  width: 50%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
}

.illContainer{
  height: 50vh;
  /* width: auto; */
}

.ill{
  height: 100%;
}

.stepDescContainer {
  /* position: absolute; */
  height: 50vh;
  width: 40vw;
  right: 5vw;
  /* background-color: red; */
}

.stepDescInnerContainerInactive{
  display: none;
  animation: leave 0.3s linear 1;
}

.stepDescInnerContainerActive{
  display: block;
  animation: enter 0.3s linear 1;
}

/* .showStep {
  display: block;
  animation: enter 0.4s linear 1;
}

.hideStep {
  animation: leave 0.4s linear 1;
  display: none;
} */

@keyframes enter{
  0%{
    opacity: 0;
    transform: translateY(20%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes enter{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
} */

@keyframes leave{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}