.StepTitle {
    /* background-color: yellowgreen; */
    font-size: 30px;
    line-height: 1.2em;
    width: 350px;
}

.TopRow {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}

.BottomRow {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* vertical-align: -webkit-baseline-middle; */
    text-align: center;
}

.Unsaved {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto 0;
}

.DeleteBtn {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.DeleteBtn:hover {
    background-color: #eee;
    cursor: pointer
}

.EditBtn {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.3s;
}

.EditBtn:hover {
    background-color: #eee;
    cursor: pointer
}

.Details {
    display: flex;
    /* margin-top: 10px; */
}

.TimeDisplay {
    display: flex;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
}

.TimeDisplay p {
    margin-left: 10px;
}

