.TimeInput input {
    /* transform: translateY(-6px); */
    outline: 0;
    border: 0;
    /* border-bottom: 1px solid #ccc; */
    background-color: #eee;
    width: 30px;
    margin-left: 5px;
}

.TimeInput {
    background-color: #eee;
    display: flex;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    transform: translateY(-5px)
}