.logo {
    text-align: center;
    margin-top: 15vh;
}
.search {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoimage {
    height: 200px;
    width: 400px;
}

.mic {
    position: absolute;
    margin: 14px -44px;
    cursor: pointer;
    padding-left: 6px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.searchBar {
    color: #0d0d0d;
    width: 36%;
    border: 1px solid lightgrey;
    border-radius: 50px;
    padding: 10px;
    height: 6vh;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    padding-right: 35px;
}

.inputField {
    font-size: 2vh;
    border: none;
    width: 30vw;
    margin-left: 1vw;
    font-family: arial, sans-serif;
}

.inputField:focus,
.inputField:hover {
    border: none;
    outline: none;
}

.autocomplete_suggestions {
    width: 36%;
    box-shadow: 1px 0px 10px 0px #cdcdcd;
    border-radius: 8px;
}
.newclass {
    justify-content: center;
    display: flex;
    width: 100%;
}
.autocomplete_suggestions_item {
    background: rgb(204, 204, 204);
    padding: 10px;
    margin: 0;
}
