@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.navbar{
    padding-top: 70px;
    padding-bottom: 0px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.link{
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
}


li {
    text-decoration: none;
    padding-left: 20px;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.015625em;
    font-size: .75rem;
}
li a{
    cursor: pointer;
}