.link {
    height: 45px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial;
    font-size: 2vh;
    font-weight: 800;
    padding: 5px 10px;
    margin: 50px 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: white;
    transition: all 0.1s linear;
    outline: none;
    text-decoration: none;
    color: #24292e;
}

.link:hover {
    background-color: #ccc;
    outline: none;
    text-decoration: none;
    color: #24292e;
}

.icon {
    margin-left: 1vw;
}
